@import url("../index.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    background-image: linear-gradient(rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .7)),
        url('../asset/herosection.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 64px;
    padding-right: 20px;
    padding-bottom: 64px;
    padding-left: 20px;
    color: var(--textL-primary);
    font-weight: bold;
    gap: 15px;
    border-radius: 5px;
    text-align: center;
}

.container h1 {
    font-family: "poppins", sans-serif;
}

.container p {
    letter-spacing: 0.2px;
    margin: 10px 0;
    font-size: 14px;
    font-family: "DM serif Display", sans-serif;
}

.heroSection_btn {
    background-color: var(--bg-primary);
    padding: 20px 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    color: var(--textL-primary);
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.heroSection_btn:hover {
    background-color: var(--textL-primary);
    color: var(--bg-primary);
}

@media (min-width: 1200px) {

    .video {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        padding-top: 82px;
        padding-right: 140px;
        padding-bottom: 64px;
        padding-left: 140px;
    }

    .container h1 {
        font-size: 48px;
    }
    .container p {
        font-size: 16px;
    }
    .heroSection_btn {
        width: max-content;
    }
}