@import url(../index.css);
.wrapper {
    background-color: var(--error-bg);
    width: 100%;
    height: auto;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 20px;
}

@media(min-width: 1200px) {
    .wrapper {
        padding: 40px 120px;
    }
}