@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --bg-primary: #3ECF4C;
  --bg-secondary: #FFBD3A;
  --bg-teritary: #F64920;
  --textD-primary: #222325;
  --textD-secondary: #333333AD;
  --textD-disable: #3A354161;
  --textL-primary: #FFFFFF;
  --textL-secondary: #C1C2C4;
  --textL-disable: #9D9EA1;
  --border: #3A35411F;
  --primary-bg: #FFFFFF;
  --base-bg: #F4F5FA;
  --base-bg-secondary: #F9FAFC;


  /* INFO COLOR */
  --info-pressed: #044AA2;
  --info-hover: #0663C2;
  --info-default: #0980E2;
  --info-bg: #EBF9FE;

  /* succes color */

  --success-pressed: #1C9675;
  --succes-hover: #28B380;
  --succes-default: #38D189;
  --succes-bg: #E0FDDF;


  /* warning-color */

  --warning-pressed: #B5A40D;
  --warning-hover: #D8C613;
  --warning-default: #FCE91B;
  --warning-bg: #FCF8CA;


  /* err0r-color */

  --error-pressed: #B72315;
  --error-hover: #DB3D1F;
  --error-default: #FF5C2B;
  --error-bg: #FCE3D1;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato ,sans-serif;
}

.hide {
  display: none;
}